.mobile-menu__bg {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 2;
}

.mobile-menu__bg_closed {
  display: none;
}

.mobile-menu {
  position: absolute;
  background-color: #FAFAFA;
  min-height: 100vh;
  z-index: 3;
  display: flex;
  top: 0;
  right: 0;
  min-width: 520px;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.mobile-menu_closed {
  display: none;
}

.mobile-menu__close {
  position: absolute;
  z-index: 5;
  top:0;
  right: 0;
  margin-top: 22px;
  margin-right: 22px;
  cursor: pointer;
}

.mobile-menu__list {
  margin-top: 104px;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  gap: 28px;
}

.mobile-menu__link {
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: var(--white);
  text-decoration: none;
}

.mobile-menu__link:hover {
  color: rgb(190, 190, 190);
}


.mobile-menu__profile {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 17px;
  color: var(--white);
  text-decoration: none;
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 92px;
}

.mobile-menu__profile:hover {
  opacity: 0.7;
}

.mobile-menu__account-icon {
  background-color: #FAFAFA;
  border-radius: 4px;
  padding: 8px 7px;
}

@media screen and ( max-width: 600px ) {
  .mobile-menu {
    min-width: 100%;
  }
}
