.promo {
  margin: 0;
  background-color: #DDDEE3;
  padding: 50px 70px 60px;
  display: flex;
  flex-direction: column;
}

.promo__title {
  margin: 0;
  max-width: 626px;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  letter-spacing: -0.04em;
}

.promo__logo {
  margin: 102px 0 0 auto;
  max-width: 722px;
}

@media screen and ( max-width: 830px ) {
  .promo {
    padding: 300px 44px 70px;
  }

  .promo__title {
  margin: 0 auto;
  text-align: center;
  }

  .promo__logo {
    margin: 140px 0 0 0;
    width: 100%;
  }
}

@media screen and ( max-width: 530px ) {
  .promo {
    padding: 183px 0 40px;
  }

  .promo__title {
    margin: 0 auto;
    max-width: 300px;
    font-size: 31px;
    line-height: 39px;
  }

  .promo__logo {
    margin: 60px 0 0 0;
    height: 230px;
    object-fit: cover;
}
}
