.search {
  margin: 0;
  padding: 70px 70px 49px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FAFAFA;
}

.search__form {
  width: 100%;
  border-bottom: 1.5px solid rgba(170, 170, 170, 0.2);
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.search__button {
  width: 34px;
  height: 34px;
  margin: 0 0 15px 0;
  padding: 0;
  background-color: #FAFAFA;
  background-image: url('../../images/search-icon_dark.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size:cover;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}

.search__button_position_left {
  background-image: url('../../images/search-icon.svg');
}

.search__button:hover {
  opacity: .8;
}

.search__input {
  margin: 0;
  padding: 15px 0 15px;
  border: none;
  text-align: center;
  background-color: transparent;
  width: 100%;
}

.search__input:focus {
  outline: none;
}

.search__input::placeholder {
  font-weight: 500;
  font-size: 28px;
  line-height: 34px;
  color: #A0A0A0;
}

@media all and (max-width: 830px) {
  .search {
    padding: 86px 30px 62px;
  }
}

@media all and (max-width: 530px) {
  .search {
    padding: 98px 14px 50px;
  }

  .search__input {
      font-size: 11px;
      text-align: left;
  }

  .search__button_position_left {
    display: none;
    background-image: url('../../images/search-icon.svg');
  }
}
