.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding: 18px 70px;
}

.header__logo:hover {
  opacity: 0.7;
}

.header__navigation-desktop {
  margin: 0;
  display: flex;
}

.header__navigation-mobile {
  margin: 0;
  display: none;
}

@media screen and ( max-width: 830px ) {
  .header__navigation-desktop {
    margin: 0;
    display: none;
  }

  .header__navigation-mobile {
    margin: 0;
    display: flex;
  }

  .header__login-open {
    display: block;
    cursor: pointer;
    z-index: 9999;
  }

  .header {
    padding: 18px 30px;
  }
}

@media screen and ( max-width: 530px ) {
  .header {
    box-sizing: border-box;
    padding: 18px 14px;
  }
}
